/*------------------------------------------------------------------
4. NAVIGATION BAR
-------------------------------------------------------------------*/

#mainNav {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: -100px;
  padding-top: 20px;
  height: 84px;
  font-size: 0.7em;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.custom-logo-wrapper {

}

#mainNav .navbar-brand {
  margin: auto;
  width: 60px;
  height: 60px;
  float: none;
  background: none;
  display: block;
  /* font-size: 0.6em; */
}

#mainNavTop {
  top: -61px;
}

.lightNav .round-logo {
  border: 2px solid rgba(256, 256, 256, 0.5);
}

.darkNav .round-logo {
  border: 2px solid rgba(51, 51, 51, 0.5);
}

.lightNav .round-logo:hover {
  border: 2px solid rgba(256, 256, 256, 1);
}

.darkNav .round-logo:hover {
  border: 2px solid rgba(51, 51, 51, 1);
}

#mainNav .navbar-brand svg {
  width: 1.6em;
  margin-top: -6px;
}

#mainNav .round-logo {
  display: block;
  border-radius: 50%;
  text-align: center
}

#mainNav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: -55px;
}

#mainNav ul li {
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-right: 30px;
}

#mainNav ul li:last-child {
  margin-right: 8px;
}

#mainNav ul li button {
  display: inline-block;
  height: 50px;
  position: relative;
  background: none;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.darkNav ul li button {
  color: #000;
}

#mainNav ul li button:hover,
#mainNav ul li button:active {
  background: none;
}

#mainNav ul li .right-margin {
  margin-right: 60px;
}

#mainNav ul li .left-margin {
  padding-left: 0;
  margin-left: 60px;
}

#mainNav ul li button .line {
  height: 1px;
  display: block;
  width: 0px;
  margin-top: 1px;
  margin-left: 50%;
}

.lightNav ul li button .line {
  background: #fff;
}

.darkNav ul li button .line {
  background: #000;
}

#mainNav ul li button:hover .line {
  width: 97%;
  margin-left: 0%;
}

.navTop {
  padding-top: 0px !important;
  height: 60px !important;
}

.navTop .round-logo,
.navTop .round-logo:hover {
  border: 0px;
}

.navTop .navbar-brand svg {
  width: 1.3em;
  margin-top: -6px;
}

.navTop ul li button {
  font-size: 0.8em;
}

.lightNav a,
.lightNav button {
  color: #fff;
}

.darkNav a,
.darkNav button {
  color: #000;
}

#mainNav a {
  opacity: 0.75;
}

#mainNav a:hover {
  font-size: 3.5em;
  opacity: 1;
}

/* nav fix */
.custom-nav-link {
display: inline-block !important;
height: 50px !important;
position: relative !important;
background: none !important;
border: 0px !important;
text-transform: uppercase !important;
letter-spacing: 2px !important;
font-size: 1.1em !important;
padding: 0 !important;
margin: 0 !important;
}

.custom-logo {
font-size: 1em !important;
opacity: 0.75 !important;
margin-top: 0 !important;
margin-right: 0 !important;
float: none !important;
}

/* fix homepage */

.custom-messages {
color: white;
text-align: center;
top: 30% !important;
left: 50% !important;
transform: translate(-50%, 30%) !important;
position: relative;
}

.menu-mobile {
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
}

.menu-mobile a {
  position: absolute;
  z-index: 110;
  font-size: 3em;
  right: 20px;
  top: 20px;
  opacity: 0.75;
  color: #fff;
}

.menu-mobile a:hover {
  opacity: 1;
}

.menu-mobile ul {
  list-style: none;
  text-align: center;
  width: 100%;
  height: 280px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu-mobile ul li {
  display: block;
  clear: both;
  width: 100%;
}

.menu-mobile ul li button {
  background: none;
  font-size: 2.5em;
  font-weight: 200;
  width: 300px;
  text-align: center;
  line-height: 2em;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.75;
  color: #fff;
}

.menu-mobile ul li button:hover {
  opacity: 1;
}